modules = ["python-3.11"]
[agent]
expertMode = true
integrations = ["python_gemini:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "gumbo", "harfbuzz", "jbig2dec", "libjpeg_turbo", "mupdf", "openjpeg", "pkg-config", "qhull", "swig", "tcl", "tk", "xcbuild"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "app"

[[workflows.workflow]]
name = "app"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uvicorn app:app --host 0.0.0.0 --port 5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 36457
externalPort = 3000

[[ports]]
localPort = 36777
externalPort = 3003

[[ports]]
localPort = 38435
externalPort = 3001

[[ports]]
localPort = 42287
externalPort = 3002
